
<footer class="footer-1">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 col-sm-4 footer-blue">
                <img src="{{ app.request.baseurl }}/asset/images/logo-footer.png" class="img-responsive center-block">
            </div>
            <div class="col-md-4 col-sm-4 footer-brown">
                <img class="icon" src="{{ app.request.baseurl }}/asset/images/icon-phone.jpg">&nbsp; Telephone. <a href="tel:+623199103048">+6231-99103048</a>
            </div>
            <div class="col-md-4 col-sm-4 footer-orange">
                <img class="icon" src="{{ app.request.baseurl }}/asset/images/icon-envelope.jpg">&nbsp; Email. <a href="mailto:info@puspetindo.com">info@puspetindo.com</a>
            </div>
        </div>
    </div>
</footer>
<footer class="footer-2">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="copyright">Copyright © 2018 PT. Puspetindo Gresik, Indonesia. All Rights Reserved. Website design by <a href="http://markdesign.net" title="Website design surabaya">Mark Design</a>.</div>
            </div>
        </div>
    </div>
</footer>