
<section class="home-sec-5 py-4">
    <div class="lefts_space pl-5 my-2 mx-2">
        <div class="d-inline-block pr-5 names_titles align-middle">
            C.V. Hentraco - Machine Tools & Industrial Machinery Brand:
        </div>
        <div class="d-inline-block align-middle lists_nm_logo">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <img src="{{ app.request.baseurl }}/asset/images/log_icon_ft_1.jpg" alt="" class="img img-fluid">
                </li>
                <li class="list-inline-item">
                    <img src="{{ app.request.baseurl }}/asset/images/log_icon_ft_2.jpg" alt="" class="img img-fluid">
                </li>
                <li class="list-inline-item">
                    <img src="{{ app.request.baseurl }}/asset/images/log_icon_ft_3.jpg" alt="" class="img img-fluid">
                </li>
            </ul>
        </div>
    </div>
</section>


<footer class="footer-1">
    <div class="container_def mx-auto d-block">
        <div class="lgo-footer"><a href="#"><img src="{{ app.request.baseurl }}/asset/images/logo-ft-hentraco.png" alt="" class="img img-fluid"></a></div>
        <div class="py-3 my-1"></div>
        <div class="row">
            <div class="col-md-25">
                <h5>Your  Machine Tools <br>
                    & Industrial Machinery <br>
                    <b>Suppliers From Indonesia</b></h5>
            </div>
            <div class="col-md-35">
                <div class="row">
                    <div class="col s-content">
                        <h6>Contact us</h6>
                        <p><a href="mailto:info@hentraco.co.id">info@hentraco.co.id</a><br>Whatsapp. <a href="https://wa.me/62816848361">081 6848 361</a></p>
                    </div>
                    <div class="col s-content">
                        <h6>Head Office</h6><p>Jl. Raya Diponegoro 46 i<br>Surabaya, Jawa Timur<br>Phone. +62 31 5677342</p>
                    </div>
                    <div class="col s-content">
                        <h6>Representative Office</h6><p>Jl. P Jayakarta 141 Blok II/C-9<br>Jakarta Pusat, DKI Jakarta<br>Phone. +62 21 6293045</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="clearfix clear"></div>
    </div>
</footer>

<div class="blocks_btm_copyrights py-4">
    <div class="container_def mx-auto d-block">
        <div class="row">
            <div class="col">
                <p class="copy">Copyright &copy; C.V. Hentraco - Machine Tool & Industrial Machinery, All rights reserved - 2020</p>
            </div>
            <div class="col">
                <p class="copy text-right">Website Design and Development by <a title="Website Design Surabaya" href="https://markdesign.net/" target="_blank">Mark Design Indonesia.</a></p>
            </div>
        </div>
    </div>
</div>