{% extends layout %}
{% block title %}About Us - {% endblock %}
{% block menu %}about{% endblock %}
{% block content %}

<section class="cover-insidepage prelatife">
    {% include "/layouts/header.twig" with { 'menu': block('menu') } %}

    <div class="pictures">
        <img src="{{ app.request.baseurl }}/asset/images/ill-about.jpg" alt="" class="img img-fluid w-100">
    </div>
    <div class="nblocks_desc text-center">
        <div class="inner">
        <h1>About Us</h1>
        </div>
    </div>
</section>

<div class="py-3 d-none d-sm-block"></div>

<section class="blocks_about-1 py-5">
    <div class="container_def mx-auto d-block">
        <div class="inners py-3">
            <div class="row">
                <div class="col-md-32 content-texts order-2 order-sm-1">
                    <div class="py-2"></div>
                    <h3>C.V. Hentraco’s History</h3><p>C.V. Hentraco’s machinery and industrial machines trading footprint includes the most active trading warehouse in East Java operating from Surabaya and in West Java operating from Cikarang. C.V. Hentraco is trading world class machinery products at short lead times. A strategic regional network of distribution centres in Surabaya and Jakarta with dynamic supply solutions and immediate stock availability are the keys to our wide range spread to industries and market sectors.</p>
                    <p>C.V. Hentraco understands the Indonesian market and its industrial conditions and this has made us Indonesia’s leading in High precision and high performance Lathe, Milling, CNC, machining center and more.</p>
                </div>
                <div class="col-md-28 order-1 order-sm-2">
                    <div class="pictures rn"><img src="{{ app.request.baseurl }}/asset/images/banner-about-1.jpg" alt="" class="img img-fluid"></div>
                    <div class="d-block d-sm-none py-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blocks_about-2 py-5">
    <div class="container_def mx-auto d-block">
        <div class="inners py-3">
            <div class="row">
                <div class="col-md-25">
                    <div class="pictures rn"><img src="{{ app.request.baseurl }}/asset/images/banner-about-2.jpg" alt="" class="img img-fluid"></div>
                </div>
                <div class="col-md-35 content-texts pt-250">
                    
                    <h3>Why C.V. Hentraco as your partner</h3><p>It has become a guarantee that products that supplied from C.V. Hentraco will deliver high performance. Our industrial machineries are high performance, high precision, strong, durable, and reliable.  <br><br>As a sole agent and distributors for First milling machine and machining center, Chinhung / Kinwa lathe machine, Goodway CNC Lathe machine, C.V. Hentraco’s strength are not in just product stocks availability, but also service quality. We have the 40 years experience in machineries which no other importers or traders can compete. Service warranty, product troubleshoting and maintenance seemed less important at first, but for the long run it’s one of the critical points that we hold. We offer factories and industrial manufacturers choices and combinations of useful characteristics and knowledge of machineries unmatched by any other traders.</p>
                    <div class="row blc_vision">
                        <div class="col-md-30 col-60">
                            <h4>Vision</h4>
                            <p>To be the benchmark and to be the first name that came as first choice when everyone is looking for best industrial machines.</p>
                        </div>
                        <div class="col-md-30 col-60">
                            <h4>Mission</h4>
                            <p>Promote only the high precision and high performance machines for industrial efficiency, displaying good quality both on products and services. To simultaneously always looking out for new and emerging opportunities related to our field of competence.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="py-3"></div>
<section class="blocks_about-1 py-5">
    <div class="container_def mx-auto d-block">
        <div class="inners py-3">
            <div class="row">
                <div class="col-md-32 content-texts">
                    <div class="py-2"></div>
                    <h3>C.V. Hentraco’s Commitment</h3>
                    <p>C.V. Hentraco maintains a significant investment in relationship with principals and stock availability, also at research and development with a committed team of professionals in it’s technical operation. We will only promote products that comply with international standards and tested with accredited testing facilities to support development of sustainable, efficient, and good productivity machines.</p>
                    <p>C.V. Hentraco is committed to run the good philosophy of service “Bring goods to man”, not man to goods. This means our constantly evolving customer needs are always become our priority and we are the one who provide it to our customers, not the other way around. We’ll introduce and bring good new knowledge, adding innovative products, opening horizon for new and easier ways to obtain the same results in much easier way.</p>
                </div>
                <div class="col-md-28">
                    <div class="pictures rn"><img src="{{ app.request.baseurl }}/asset/images/banner-about-3.jpg" alt="" class="img img-fluid"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="py-2"></div>

{% endblock %}
