{% extends layout %}
{% block title %}Layanan Kami - {% endblock %}
{% block menu %}layanan{% endblock %}
{% block content %}
<section class="outers_inside_page">
	<div class="insides_page">
		<div class="back-white backs_cloud_insidep content-text text-center">
			<div class="prelatife container">
				<div class="clear h60"></div>
				<h1 class="title-pages">Layanan Kami</h1>
				<div class="clear height-50"></div><div class="height-20"></div>
				<div class="mw1035 tengah">
					<span class="fRoboto text-left">Pengalaman Cahaya Medika Group dalam dunia medis telah menjadi tulang belakang pondasi dari Cahaya Diagnostic Centre, dan kami melanjutkan komitmen dari group perusahaan kami untuk melayani pelanggan korporat maupun individual di sekitar kami, dengan layanan terbaik, produk terbaik dan prosedur terbaik.</span>

					<p>Pelayanan Cahaya Diagnostic Centre secara umum namun tidak terbatas adalah pada informasi di bawah ini.</p>
				</div>
				<div class="clear height-50"></div><div class="height-0"></div>

				<div class="listing_services_dtdefault">
					<div class="row">
						<div class="col-md-4">
							<div class="items">
								<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/service-1.jpg" alt="" class="img-responsive"></div>
								<div class="desc padding-top-35">
									<h5>Medical Check-Up</h5>
									<div class="clear"></div>
									<p>Cahaya Diagnostic Centre melakukan layanan Medical Check-Up dengan dibantu oleh dokter umum berpengalaman yang telah terlatih dan melewati masa pembelajaran serta masa layanan umum dengan jam terbang yang sangat tinggi. Hal ini akan memampukan Cahaya Diagnostic Centre untuk memberikan solusi yang tepat dan jitu kepada pasien yang merujuk untuk melakukan pemeriksaan medis.</p>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="items">
								<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/service-2.jpg" alt="" class="img-responsive"></div>
								<div class="desc padding-top-35">
									<h5>General Laboratories</h5>
									<div class="clear"></div>
									<p>Dengan dilengkapi oleh peralatan medis yang terbaru dan mutakhir, Cahaya Diagnostic Centre dapat menjadi barometer atau standar baru dalam pemeriksaan darah / pemeriksaan lab. Cahaya Diagnostic Centre juga dapat menjadi rujukan terpercaya yang dapat direkomendasikan oleh klinik maupun praktek umum di sekitarnya.</p>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="items">
								<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/service-3.jpg" alt="" class="img-responsive"></div>
								<div class="desc padding-top-35">
									<h5>Dental Clinic</h5>
									<div class="clear"></div>
									<p>Cahaya Diagnostic Centre menyadari benar bahwa kebutuhan masyarakat akan klinik kesehatan gigi adalah tinggi, namun karena pertimbangan biaya, maka seringkali masyarakat menghindari datang ke klinik gigi. Cahaya Diagnostic Centre melayani kebutuhan klinik gigi dengan seluruh peralatan terkini yang steril, dan aman, dengan biaya yang sangat terjangkau dan kompetitif.</p>
									<div class="clear"></div>
								</div>
							</div>
						</div>

					</div>
					<div class="clear"></div>
				</div>
				<div class="clear height-40"></div><div class="height-0"></div>

				<div class="clear"></div>
			</div>
		</div>

		<div class="clear"></div>
	</div>
</section>
<div class="clear"></div>
{% endblock %}