{% extends layout %}
{% block title %}Our Location - {% endblock %}
{% block menu %}location{% endblock %}
{% block content %}

<section class="cover-insidepage prelatife">
    {% include "/layouts/header.twig" with { 'menu': block('menu') } %}

    <div class="pictures">
        <img src="{{ app.request.baseurl }}/asset/images/ill-locations.jpg" alt="" class="img img-fluid w-100">
    </div>
    <div class="nblocks_desc text-center">
        <div class="inner">
        <h1>Our Location</h1>
        </div>
    </div>
</section>


<section class="insides_page pg_default pg-locations" >
    <div class="prelatife container_def">
        <div class="content-texts inners text-left d-block mx-auto">
            <div class="py-5"></div>
            <div class="row no-gutters lists_location_tm">
                <div class="col-md-30 items">
                    <div class="row">
                        <div class="col-md-30 col-22">
                            <div class="picture"><img src="{{ app.request.baseurl }}/asset/images/pic-thumbs_box.jpg" alt="" class="img img-fluid"></div>
                        </div>
                        <div class="col-md-30 col-38">
                            <div class="infos">
                                <h3>Surabaya Office</h3>
                                 <p>Jl. Diponegoro No.46/1, <br>DR. Soetomo, Kec. Tegalsari, <br>Kota SBY, Jawa Timur 60241 <br>
                                Phone. +62 31 5677342</p>
                                <p><a href="https://goo.gl/maps/nw7TXKpc1JqyAtXs6" target="_blank"><i class="fa fa-map-marker"></i> View on Google Map</a></p>
                                <p><a href="mailto:hentracosby@yahoo.com">hentracosby@yahoo.com</a><br>Whatsapp. <a href="https://wa.me/62816848361">081 6848 361</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-30 items">
                    <div class="row">
                        <div class="col-md-30 col-22">
                            <div class="picture"><img src="{{ app.request.baseurl }}/asset/images/pic-thumbs_box_2.jpg" alt="" class="img img-fluid"></div>
                        </div>
                        <div class="col-md-30 col-38">
                            <div class="infos">
                                <h3>Jakarta Office</h3>
                                <p>JL. P Jayakarta, 141 Blok 2-C/9, <br>Jakarta, 10730, RT.2/RW.10, <br>South Mangga Dua, Sawah Besar, <br>Central Jakarta City, Jakarta 10730<br>Phone. (021) 6255993</p><p><a href="https://goo.gl/maps/rZixcJ7vVaw6SKNJA" target="_blank"><i class="fa fa-map-marker"></i> View on Google Map</a></p>
                                <p><a href="mailto:hentracosby@yahoo.com">hentracosby@yahoo.com</a><br>Whatsapp. <a href="https://wa.me/62816848361">081 6848 361</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="py-5 d-none d-sm-block"></div>
            <div class="py-2 d-block d-sm-none"></div>
            <div class="py-3"></div>

            <div class="clear clearfix"></div>
        </div>
    </div>
</section>


{% endblock %}