{% extends layout %}
{% block title %}Our Location - {% endblock %}
{% block menu %}location{% endblock %}
{% block content %}

<section class="cover-insidepage prelatife">
    {% include "/layouts/header.twig" with { 'menu': block('menu') } %}

    <div class="pictures">
        <img src="{{ app.request.baseurl }}/asset/images/ill-locations.jpg" alt="" class="img img-fluid">
    </div>
    <div class="nblocks_desc text-center">
        <div class="inner">
        <h1>Our Location</h1>
        </div>
    </div>
</section>


<section class="insides_page pg_default pg-locations" >
    <div class="prelatife container_def">
        <div class="content-texts inners text-left d-block mx-auto">
            <div class="py-5"></div>
            <div class="row no-gutters lists_location_tm">
                <div class="col-md-30 items">
                    <div class="row">
                        <div class="col">
                            <div class="picture"><img src="{{ app.request.baseurl }}/asset/images/pic-thumbs_box.jpg" alt="" class="img img-fluid"></div>
                        </div>
                        <div class="col">
                            <div class="infos">
                                <h3>Surabaya Office</h3>
                                <p>Jl. Raya Diponegoro 46 i<br>Surabaya, Jawa Timur<br>Phone. +62 31 5677342</p>
                                <p><a href="mailto:info@hentraco.co.id">info@hentraco.co.id</a><br>Whatsapp. <a href="https://wa.me/62816848361">081 6848 361</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-30 items">
                    <div class="row">
                        <div class="col">
                            <div class="picture"><img src="{{ app.request.baseurl }}/asset/images/pic-thumbs_box.jpg" alt="" class="img img-fluid"></div>
                        </div>
                        <div class="col">
                            <div class="infos">
                                <h3>Jakarta Office</h3>
                                <p>Jl. P Jayakarta 141 Blok II/C-9<br>Jakarta Pusat, DKI Jakarta<br>Phone. +62 21 6293045</p>
                                <p><a href="mailto:info@hentraco.co.id">info@hentraco.co.id</a><br>Whatsapp. <a href="https://wa.me/62816848361">081 6848 361</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="py-5"></div>
            <div class="py-3"></div>

            <div class="clear clearfix"></div>
        </div>
    </div>
</section>


{% endblock %}