{% extends layout %}
{% block title %}Machine - {% endblock %}
{% block menu %}machine{% endblock %}
{% block content %}

<section class="cover-insidepage prelatife">
    {% include "/layouts/header.twig" with { 'menu': block('menu') } %}

    <div class="pictures">
        <img src="{{ app.request.baseurl }}/asset/images/ill-machine.jpg" alt="" class="img img-fluid">
    </div>
    <div class="nblocks_desc text-center">
        <div class="inner">
        <h1>Our Machines</h1>
        </div>
    </div>
</section>


<section class="insides_page pg_default pg-machine" >
    <div class="prelatife container_def">
        <div class="content-texts inners text-center">
            <div class="py-5"></div>
            <div class="row">
                <div class="col-md-15"></div>
                <div class="col-md-30">
                    <h3>Our Machine Tool & Industrial Machinery</h3>
                    <p>We are the sole agent and distributors for First milling machine and machining center, Chinhung / Kinwa lathe machine, Goodway CNC Lathe machine, with 40 years experience in machineries, we provide Service warranty, product troubleshoting and maintenance.</p>
                </div>
                <div class="col-md-15"></div>
            </div>
            <div class="py-3 my-3"></div>

            <div class="lists_default_datacategorys">
                <div class="row">
                    {% for i in 0..5 %}
                    <div class="col-md-15">
                        <div class="items prelatife">
                            <img src="{{ app.request.baseurl }}/asset/images/ex-products_1.jpg" alt="" class="img img-fluid">
                            <div class="info">
                                <div class="row">
                                    <div class="col-40">
                                        <h6>Lathe Machine</h6>
                                    </div>
                                    <div class="col-20 text-right">
                                        <div class="rghts_icon">
                                            <a class="btn" href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-15">
                        <div class="items prelatife">
                            <img src="{{ app.request.baseurl }}/asset/images/ex-products_2.jpg" alt="" class="img img-fluid">
                            <div class="info">
                                <div class="row">
                                    <div class="col-40">
                                        <h6>Lathe Machine</h6>
                                    </div>
                                    <div class="col-20 text-right">
                                        <div class="rghts_icon">
                                            <a class="btn" href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="py-5"></div>
            <div class="py-2"></div>

            <div class="clear clearfix"></div>
        </div>
    </div>
</section>


{% endblock %}