{% extends layout %}
{% block title %}Gallery - {% endblock %}
{% block menu %}gallery{% endblock %}
{% block content %}
<section class="outers_inside_page p_member">
	<div class="insides_page">
		<div class="back-white backs_cloud_insidep content-text text-center">
			<div class="prelatife container">
				<div class="clear h60"></div>
				<h1 class="title-pages">Cek Hasil Pemeriksaan <span class="qwig">Online</span></h1>
				<div class="clear height-50"></div><div class="height-20"></div>
				<div class="mw1035 tengah">
					<span class="fRoboto">Cahaya Diagnostic Centre sebagai pemimpin dalam dunia medis berteknologi mutakhir, memberikan layanan kepada pasien yang telah menjadi member, untuk dapat memanfaatkan layanan online dalam mengakses hasil pemeriksaan secara ringkas dan nyaman di database terbuka kami.</span>
					
					<p>Bagi anda yang pertama menggunakan fasilitas ini, silahkan lakukan aktivasi terlebih dahulu.</p>
				</div>
				<div class="clear height-50"></div><div class="height-0"></div>

				<div class="clear"></div>
			</div>
		</div>
		<div class="back-white">
			<div class="prelatife container">
				<div class="clear height-50"></div><div class="height-40"></div>

				<div class="mw800 tengah outers_cont_defaultmember">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<form class="form-horizontal" method="post" action="#">
							  <h3>Aktifasi</h3>
							  <div class="clear"></div>
							  <div class="form-group">
							    <label for="inputNmb" class="control-label">Nomor Member</label>
							      <input type="text" class="form-control" id="inputNmb" >
							  </div>
							  <div class="form-group">
							    <label for="inputPass" class="control-label">Password Default</label>
							      <input type="password" class="form-control" id="inputPass" >
							  </div>

							  <div class="form-group">
							    <div class="col-sm-12">
							      <button type="submit" class="btn btn-default btn_custom_member">AKTIFKAN</button>
							    </div>
							  </div>
							  <div class="form-group">
							  	<p class="help-block">Jika anda tidak berhasil melakukan aktifasi, silahkan <br>
							  		menghubungi customer service kami.</p>
							  </div>
							</form>
							<div class="clear"></div>
						</div>
						<div class="col-md-6 col-sm-12">
							<form class="form-horizontal fr_right" method="post" action="#">
							  <h3>Login</h3>
							  <div class="clear"></div>
							  <div class="form-group">
							    <label for="inputNmb" class="control-label">Nomor Member</label>
							      <input type="text" class="form-control" id="inputNmb" >
							  </div>
							  <div class="form-group">
							    <label for="inputPass" class="control-label">Password</label>
							      <input type="password" class="form-control" id="inputPass" >
							  </div>

							  <div class="form-group">
							  	<div class="col-sm-4">
							  		<a href="#" class="forgt_pasword">Lupa password</a>
							  	</div>
							    <div class="col-sm-8">
							      <button type="submit" class="btn btn-default btn_custom_member">LOGIN</button>
							    </div>
							  </div>
							</form>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="clear height-50"></div><div class="height-40"></div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>
<div class="clear"></div>
{% endblock %}